{% extends 'flatpages/default.html' %}

{% load censor_filter %}

{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Все статьи: {{ posts|length }} </h1>
   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Категория:</td>
               <td>Тип публикации:</td>
               <td>Текст</td>
           </tr>
           {% for post in posts %}
           <tr>
               <td>{{ post.title|truncatechars:21|censor }}</td>
               <td>{{ post.date_in|date:'d M Y' }}</td>
               <td>{% for category in post.category.all %}
                        <a href="{% url 'category_list' category.id %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
                   {% endfor %}</td>
               <td>{{ post.post_type}}</td>
               <td>{{ post.text|truncatechars:35|censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}


   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}